[submodule "src/openwrt.openwrt"]
	path = src/openwrt.openwrt
	url = https://github.com/openwrt/openwrt
[submodule "src/josephtingiris.openwrt"]
	path = src/josephtingiris.openwrt
	url = git@github.com:josephtingiris/openwrt
[submodule "src/openwrt.packages"]
	path = src/openwrt.packages
	url = https://github.com/openwrt/packages
